__pycache__/*
.ipynb_checkpoints/*
examples/.ipynb_checkpoints/*
pipeline/config/__pycache__/*
pipeline/config/.ipynb_checkpoints/*
pipeline/mixability/__pycache__/*
pipeline/mixability/.ipynb_checkpoints/*
pipeline/segment/__pycache__/*
pipeline/segment/.ipynb_checkpoints/*
pipeline/utils/__pycache__/*
pipeline/utils/.ipynb_checkpoints/*
script/__pycache__/*
script/.ipynb_checkpoints/*

cache/*
data/mix/audio/*
data/mix/estimations/*
data/mix/obj/*

data/track/audio/*
data/track/estimations/*
data/track/seg/*
data/track/pair/*

music_puzzle_games/*
.features_msaf_tmp.json
